.NextStep{
    background-color: #009e00;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.NextStep:hover{
    background-color: green;
}
.NextStep[disabled]{
    display: none;
}

.finalPage{
    text-align: center;
}
.finalPage h1{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: #008416;
    text-transform: none;
    text-shadow: none;
}
/* .box1 {
    display: block;
    width: 30%;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    height:20px;
    width:250px;
    margin-top: 7%;
      margin-left: 2%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  
  } */
  /* .box2 {
    display: block;
    width: 30%;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    height:20px;
    width:50px;
    margin-top: 3%;

      margin-left: 2%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  } */
  /* .box3 {
    display: block;
    width: 30%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    height:20px;
    width:50px;
    margin-top: 3%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  } */

  .block {
    width: 120px;
    display: block;
    border: none;
    background-color: #04AA6D;
    padding: 18px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }