.App {
  width: 100%;
  background-color: #F0F0F0;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  gap: 5px 10px;
  
}
.Content {
  width: 60%;
  background-color: #fff;
  padding: 30px;
}